* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(9, 66, 31);
}

header {
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 36px;
    text-align: center;
    /*font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    /*border-bottom: 2px solid blue;*/
}

.first {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: orange;
    width: 750px;
    text-align: left;
    padding: 25px;
    position: relative;
    left: 400px;
    top: 30px;
}

.second {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: pink;
    width: 750px;
    text-align: right;
    padding: 25px;
    position: relative;
    left: 400px;
    top: 60px;
}

.third{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: aquamarine;
    width: 750px;
    text-align: left;
    padding: 25px;
    position: relative;
    left: 400px;
    top: 90px;
}